::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

header{
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;

}

nav{
    width: 100%;
}

li a {
    margin: 0px 15px;
}

li > a:hover{
    border-bottom: 2px solid;
    padding-bottom: 2px;
    transition: 0.1s ease;
}

#carrito{
    width: 30px;
    color: white;
}

.usuario-container{
    border: 1px solid #1a0200ee;
    width: auto;
    display: flex;
    padding: 2px 10px;
    border-radius: 15px;
    justify-content: center;
}

#flecha{
    width: 20px;
}

.usuario{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
}

.cerrar-sesion{
    width: 150px;
    height: 50px;
    background-color: #1a0200ee;
    border-radius: 10px;
    position: absolute;
    top: 60px;
}

.logout{
    margin-top: 8px;
    color: white;
}

.logout a:hover{
    color: #F2A007;
}

.user-cart-container{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.mensaje-ok{
    margin: 10px auto;
    color: white;
    font-size: 18px;
    background-color: #2ecc71;
    width: 400px;
    height: 30px;
    border-radius: 15px;
}

.mensaje-error{
    margin-top: 10px;
    color: red;
    font-size: 18px;
}

.producto{
    border: 2px solid #1a0200ee;
    border-radius: 15px;
    width: 300px;
    height: 430px;
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.producto-titulo{
    color: #1a0200ee;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
}

.producto-precio{
    color: black;
    font-weight: bold;
    text-align: center;
}

.producto{
    transition: transform 0.2s;
}

.producto:hover {
    transform: scale(1.05);
}