::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

header{
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;

}

nav{
    width: 100%;
}

li a {
    margin: 0px 15px;
}

li a:hover{
    border-bottom: 2px solid;
    padding-bottom: 2px;
    transition: 0.1s ease;
}

.mensaje-ok{
    margin: 10px auto;
    color: white;
    font-size: 18px;
    background-color: #2ecc71;
    width: 400px;
    height: 30px;
    border-radius: 15px;
}

.mensaje-error{
    margin-top: 10px;
    color: red;
    font-size: 18px;
}

