*{
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    color: black;
}

body {
    background:#8C5437;
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h2{
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-right: 56px;
    margin-top: 36px;
}

.barraDeTareas{
    background-color: #594636;
    background: linear-gradient(to top,#58412eb7 1%, #594636);
    color: white;
    width: auto;
    height: 20px;
    padding: 20px;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 15px 4px #4e4e4e;
}

.titulo{
    background-color: #d5bdaec7;
    height: 80px;
    width: 350px;
    margin: 50px auto 0px auto ;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 7px #594636;
    cursor:default;
}

h1{
    padding-top: 20px;
}

.nosotros{
    background-color: #594636;
    box-sizing: border-box;
    width: 1400px ;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 7px #594636;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.integrantes{
    background-color: #d5bdaec7;
    box-sizing: border-box;
    width: 430px;
    height: 100px;
    padding: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #D5BDAE;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: height 0.4s ease-in-out;
    overflow: hidden;
}

.integrantes:hover{
    background-color: #d5bdaec7;
    height: 150px;
}

.info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out; 
    opacity: 0;
}

.integrantes:hover .info {
    max-height: 100px; 
    opacity: 1; 
}

.integrantes:not(:hover) .info {
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.fotos{
    width: 115px;
    height: 90px;
    border-radius: 25px;
    margin: 5px;
    margin-left: 5px;
    float: left;
    transition: transform 0.6s ease-in-out;
}

.integrantes:hover .fotos{
    transform: translateY(25px);
    opacity: 1;
}

.subtitulo{
    transition: margin-top 0.6s ease-in-out, margin-right 0.6s ease-in-out;
}

.integrantes:hover .subtitulo{
    margin-top: 2px ;
    margin-right: 92px;
    margin-bottom: 13px;
    opacity: 1;
}

p{
    text-align: left;
}
